body {
	background-color: black;
	color: white;

	font-family: -apple-system, BlinkMacSystemFont, sans-serif, system-ui;
	min-height: 100vh;
}

#board-container {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5%;
}

@media (max-width: 1024px) {
	#board-container {
		flex-direction: column;
	}
}

#player-board {
	border: 8px solid white;
}

.board {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 1px;

	margin-top: 64px;
	margin-bottom: 64px;

	background: linear-gradient(90deg, red, rgb(106, 109, 245));
	padding: 1px;

	aspect-ratio: 1;
	width: max(400px, 40%);
}

.cell {
	background-color: black;

	&:hover {
		cursor: pointer;
		border: 2px solid white;
	}
}

.cell-ship {
	background-color: white;
	color: red;

	&:hover {
		border: 2px solid black;
	}
}

.cell-hit {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	text-align: center;
}
